@{
    ViewData["Title"] = "Home Page";
}


<div class="row site-header">
    <div class="col">
        <h1>Welcome to SoundBlender!</h1>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col">
        <button class="btn btn-secondary" id="play_clip_btn">Play Piano Snippet</button>
        <button class="btn btn-secondary mute">Mute button</button><br />
        <button id="deviceBtn" class="btn btn-secondary">Choose recording device</button>
        
    </div>
</div>
<br />
<div class="row">
    <button id="record" disabled>Record audio</button> <button id="stop" disabled>Stop</button><br />
    <audio id="audio" controls></audio>
</div>

@section Scripts{
<script src="~/js/recorder.js" type="text/javascript"></script>

<script src="~/js/music.js"></script>
}
