
@{
}

<div class="row">
    
        <button id="record">Record</button>
    
    <button id="stop">Stop</button><br />
    <audio id="audio" controls></audio>
    <button id="save">Save</button>
</div>

@section Scripts{
    <script src="~/js/recorder.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#save").click(function () { saveit() });
    </script>
}


